body{
   background-image: url(./coisas/wallhaven-e7651w.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;

}
  #titulo {
    font-family: 'Permanent Marker', cursive;
   color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    

}
.titulosSecundarios {
    font-family: 'Permanent Marker', cursive;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
p, ul {
    font-family: 'Orbitron', sans-serif;
    color: white;
        font-size: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.imagens{
    border-radius: 20%;
    border-style: outset;
}